
@font-face {
    font-family:'Polya';
    src: url(/PolyaFont/Polya\ Font/Polya.otf);
    font-weight: lighter;
}
:root {
    --primario: ;
    --primarioOscuro: ;
    --secundario: ;
    --secundarioOscuro: ;
    --blanco: #fff;
    --negro: #000;
    --fuentePrincipal: 'Julius Sans One', sans-serif;
    --fuenteSecundaria: font-family: 'Archivo Narrow', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: var(--fuenteSecundaria);
    color: var(--negro);
}
a {
    text-decoration: none;
   /* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; ----------------- TEXTO BORDEADO DE NEGRO ----------------- */
}
img {
    width:100%;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
/* HEADER */
.header {
    display: flex;
}
.iconoMenu {
    width: 3rem;
}
.header__logo{
    width: 20rem;
}
/* BARRA DE NAVEGACION */
.navegacion {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    font-family: 'Polya';
    gap: 5rem;
}
.navegacion__enlace {
    color: #000;
    padding:2rem;
}